:root{
    --bg-color: #eae6ff;
    --b1-color: #0065ff;
}
*{
    margin: 0;
    padding: 0;
}
body{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    height: 9vh;
    background: var(--bg-color);
    top:0;
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
     margin: 15px; 
     cursor: pointer;
}
.loginsignup{
    display: flex;
    align-items: center;
    margin: 15px;
}
nav a{
    color: var(--b1-color);
    /* color: #0065ff; */
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}
.btn{
   background: var(--b1-color);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}
.btn:hover{
 background: #0657d1;
}
.hero{
    /* background: var(--bg-color);  */
   background:  linear-gradient(0deg, #fff, #eae6ff 100%);
    height: 85vh;
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.content{
    margin: 162px;
}
h3{
    font-size: 45px;
    line-height: 1.25;
}
p1{
    font-size: 20px;
    line-height: 1.5;
}
.email input{
    margin: 35px 10px;
    padding: 15px;
    width: 302px;
    border-radius: 7px;
    border: 0;
}
::placeholder{
    font-size: 22px;
}
.b1{
    background: var(--b1-color);
    color: white;
    padding: 6px 57px;
    border-radius: 5px;
    margin: 10px;
    font-size: 22px;
}
.b1:hover{
    background: #0657d1;
}
.i1 img{
    width: 450px;
    height: 555px;
}

.content2{
    /* margin: 140px;  */
   text-align: center;
} 
h4{
    font-size: 38px;
    /* margin: 10px; */
    margin: 140px auto auto auto;
line-height: 1.25;
font-weight: 550;
}
p2{
    font-size: 21px;
margin: -19px;
padding: 2px;
}
br{
    margin: 9px;
}
.b2{
    margin: 28px;
    width: 179px;
    font-size: 20px;
    padding: 7px 5px;
    border-radius: 6px;
    background: white;
    color: var(--b1-color);
    border: 2px solid var(--b1-color);
    cursor: pointer;
}
.b2:hover{
    background:var(--b1-color);
    color: white;
}
.i2{
   text-align: center;
}
.i2 img{
  width: 1125px;
  height: 835px;
}
.content3{
    /* display: flex; */
    text-align: center;
}
p3{
   font-size: 22px;
}
.logos{
    display: flex;
    justify-content: center;
} 
 .logos img{
     margin: 15px;
 }
 p4{
    font-size: 36px;
    font-weight: 550;
 }
 p5{
    font-size: 22px;
 }
 .content4{
    margin: 60px 200px;
    line-height: 1;
 }
 .content5,.content6 {
     display: flex;
     margin: 20px 200px;
 }
 p8{
     font-size: 29px;
     font-weight: 400;
     margin: 30px auto;
 }
  .im img{
     width: 500px;
     height: 450px;
 } 
 .c5{
     margin: 51px;
 }
 p6{
     font-size: 20px;
 }
 h5{
     font-size: 35px;
 }
 p7{
     color:  #7a869a;
     font-size: 17px;
     margin: 15px auto;
    }
.content7{
    display: flex;
     margin: 58px 200px;
    } 
    .c7{
        margin: 14px;
    }
    .im2 img{
        width: 514px;
    height: 400px;
    margin: 22px 43px;
    }

.content8{
    display: flex;
     margin: 58px 200px;
}
.im3 img{
    width: 514px;
height: 400px;
margin: 22px 43px;
}

/* ::-webkit-scrollbar{width: 12px}
::-webkit-scrollbar-thumb{background-color: red} */
.tagcomp {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 1141px;
   margin: 100px auto;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgtext {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.imgtext2 {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.im4 img , .im5 img{
    width: 115px;
    height: 171px;
}
.cont p {
    margin:auto 20px;
    font-size: 18px;
}
.cont h4{
    margin: 10px 20px;
    font-size: 31px;
}
.cont{
    margin: 5px 35px;
}
.b3,.b4{
    margin: 20px 20px auto 20px;
    width: 150px;
    padding: 7px 5px;
    border-radius: 4px;
    background: white;
    color: var(--b1-color);
    border: 1px solid var(--b1-color);
    cursor: pointer;
    font-size: 18px;
}
.b3:hover , .b4:hover{
    background:var(--b1-color);
    color: white;
}
.sl{
    background: #eae6ff;
    height: 214px;
    padding: 53px;
    margin: -36px 200px;
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/sign-up/95ae6a1535b6504e3572dc7393a2d482/background.svg),linear-gradient(0deg, #4c9aff, #403294 100%);
    color: #fff;
    text-align: center;
    border-radius: 8px;
}
.sl p{
 margin: auto auto 24px auto;
font-size: 23px;
font-weight: 501;
}
.sl input{
    margin: 35px 10px;
    padding: 15px;
    width: 302px;
    border-radius: 7px;
    border: 0;
    color: #495057;
}
.b9 {
    color: #fff;
    background-color: #00b8d9;
    /* border-color: #00b8d9; */
        width: 175px;
        height: 45px;
        border-radius: 5px;
        font-size: 20px;
        border: 0;
}
.b9:hover{
    color: #ffff;
 background: #0098b3; 
 border-color: #008da6; 
cursor: pointer;
border: 0;
}
.store{
    display: flex;
    justify-content: center;
    margin: 80px auto;
}
.store p{
 font-size: 20px;
 font-weight: 400;
 margin: auto auto auto 472px;
 /* text-align: center; */
}
.im6{
    margin: auto 159px auto -143px;
}
.im7{
    margin: auto auto auto -168px;
}
.im6 img , .im7 img{
    width: 212px;
    height: 54px;
}
.lan{
    display: flex;
    justify-content: center; 
}
select{
    text-align: center;
    width: 175px;
    height: 40px;
    border: 1px solid #959DA1;
    color: #959DA1;
    font-size: 17px;
    margin: 27px;
}
.links{
    text-align: center;
    margin: auto auto 16px auto;
}
.links a{
    color: #959DA1;
margin: auto 6px;
font-size: 19px;
font-weight: 400;
}
.links img{
    text-align: center;
    width: 173px;
    height: 38px;
    margin: 5px auto auto auto;
}
footer{
    height: 20vh;
    color:#091e42;
    text-align: center;
}
